If you liked this post, you can

<!-- Google + -->
<p><g:plusone size="medium"></g:plusone></p>

<!-- Add this just before the closing body tag of your web page -->	
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=derMerl" 
   target="_blank">
  share it with your followers</a> 
or 
<a href="https://twitter.com/derMerl">
  follow me on Twitter</a>!